body {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    box-sizing: border-box;
}

#container,
#canvas-container {
    margin: 0 auto;
    width: 800px;
}

#canvas-container {
    position: relative;
}

#controles-container {
    width: 100%;
    display: flex;
}

#slider-container {
    width: 70%;
}

#button-container {
    width: 30%;
    text-align: end;
}

#game-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 82%;
}

.game-menu-content {
    margin: 82px auto;
    width: 800px;
    padding: 20px;
    box-sizing: border-box;
    /*display: none;*/
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center
}

#restart {
    width: 100%;
    height: 40px;
}

.btn {
    border: none;
    color: white;
    margin-top: 10px;
    padding: 10px;
    background-color: black;
}

.btn:hover {
    background-color: white;
    color: black;
}

.btn:disabled {
    background-color: grey;
}

#gameover-flexbox {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#gameover-flexbox h2 {
    margin-top: 50%;
    text-align: center;
}